body {
    background-color: #ececec;
    position: relative;
    min-height: 100vh;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

main {
    padding-top: 200px;
}

.header {
    padding: 36px 0;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ececec;
}
h1 {
  display: inline;
  border-bottom: 3px solid rgb(255, 71, 71);
}

.header-nav-list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-nav-list__link {
    font-weight: 500;
    transition: color .5s;
}

.header-nav-list__item {
    margin-right: 48px;
    font-size: 18px;
    border-color: rgb(255, 71, 71);
    border-width: 2px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    padding: 12px 16px;
    transition: border-color .5s;
}

.header-nav-list__item:hover {
    border-color: rgb(255, 71, 71);
}

.header-nav-list__item:hover .header-nav-list__link {
    color: rgb(255, 71, 71);
}

.header-nav-list__item:last-child {
    margin-right: 0;
    border: 2px solid rgb(255, 71, 71);
    border-radius: 50px;
}

.header-nav-list__item:last-child .header-nav-list__link {
    color: rgb(255, 71, 71);
}

.quiz {
    padding-bottom: 15rem;
}

.quiz__inner {
    display: flex;
    flex-direction: column;
}

.quiz__inner h2 {
    margin-bottom: 24px;
}

.card {
    background-color: transparent;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-body input {
    width: max-content;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.tables {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.list-group-item__link {
    border-bottom: 1px solid transparent;
    transition: border-bottom .3s, color .3s;
}

.list-group-item__link:hover {
    border-bottom: 1px solid #ff4747;
    color: #ff4747;
}

.user-report__link {
    border-bottom: 1px solid transparent;
    transition: border-bottom .3s, color .3s;
}

.user-report__link:hover {
    border-bottom: 1px solid #ff4747;
    color: #ff4747;
}

.checkbox-question-more {
    display: none;
}

.checkbox-question:checked+label+.checkbox-question-more {
    display: flex;
}

.container {
    position: relative;
    max-width: 1230px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

@media (max-width: 1230px) {
    .container {
        max-width: 1022px;
    }
}

@media (max-width: 1022px) {
    .container {
        max-width: 798px;
    }
}

@media (max-width: 798px) {
    .container {
        max-width: 606px;
    }
}

@media (max-width: 606px) {
    .container {
        max-width: 405px;
    }
}
.selected-options {
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 10px;
		}
		.selected-option {
			display: flex;
			align-items: center;
			background-color: #f2f2f2;
			border-radius: 5px;
			padding: 5px 10px;
			margin-right: 10px;
			margin-bottom: 10px;
		}
		.selected-option span {
			margin-right: 5px;
		}
		.selected-option button {
			background-color: #e74c3c;
			color: #fff;
			border-radius: 50%;
			border: none;
			width: 20px;
			height: 20px;
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;
			margin-left: 5px;
		}
        img{
    display:block;
    justify-content: space-between;
    align-items: center;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    background-color: rgb(207, 207, 207);
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__img {
    max-width: 150px;
    position: static;
    transform: unset;
}

.footer__link {
    font-size: 18px;
    border: 1px solid transparent;
    transition: color .3s, border .3s;
}

.footer__link:hover {
    border-bottom: 1px solid #e74c3c;
    color: #e74c3c;
}

input[type="checkbox"] {
    /* background-color: red; */
    opacity: 0;
    visibility: hidden;
    position: relative;
}

input[type="checkbox"]+label {
    position: relative;
    width: max-content;
    padding-left: 1.5em;
}

input[type="checkbox"]+label:hover {
    cursor: pointer;
}

input[type="checkbox"]+label::before:hover {
    cursor: pointer;
}

input[type="checkbox"]+label::before {
    content: '';
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #e74c3c;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
}

input[type="checkbox"]+label::after {
    content: '';
    position: absolute;
    top: 25%;
    left: 6px;
    width: .5em;
    height: .5em;
    border-radius: 50%;
    background-color: #e74c3c;
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s, visibility .3s;
}

input[type="checkbox"]:checked+label::after {
    opacity: 1;
    visibility: visible;

}