<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
       <header class="header">
        <div class="container">
            <div class="header__inner">
                <h1>Модель УБИ</h1>
                <nav class="header-nav">
                    <ul class="header-nav-list">
                      <li class="header-nav-list__item">
                            <a href="/logout" class="header-nav-list__link">Выйти из аккаунта</a>
                        </li>
                        <li class="header-nav-list__item">
                            <a href="/main" class="header-nav-list__link">Главная страница</a>
                        </li>
                        <li class="header-nav-list__item">
                            <a href="/personal_account" class="header-nav-list__link">Личный кабинет</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>

</head>
<body>
<body>
        <hr>
        {% block content %}{% endblock %}
    </body>
</body>
</html>