<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Опрос</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="header__inner">
                <h1>Построение модели угроз</h1>
                <nav class="header-nav">
                    <ul class="header-nav-list">
                        <li class="header-nav-list__item">
                            <a href="#" class="header-nav-list__link">Главная страница</a>
                        </li>
                        <li class="header-nav-list__item">
                            <a href="#" class="header-nav-list__link">Личный кабинет</a>
                        </li>
                        <li class="header-nav-list__item">
                            <a href="#" class="header-nav-list__link">Выйти из аккаунта</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    <main>
        <section class="quiz">
            <div class="container">
                <div class="quiz__inner">
                    <h2>{{QuestionForm[PageNumber].text}}? Вопрос номер: {{PageNumber}}</h2>
                    <form action="{{PageNumber + 1}}" method="post">
                         {% for t in Threats %}
                        <div class="card">
                            <div class="card-body">
                                <span>t.text</span>
                                 {% endfor %}
                                {% for q in Options%}
                                <div class="checkboxes" id="checkboxes">
                                    <div style="display: flex; flex-direction: column;">
                                        <label >{{q}}</label>
                                        <input type="checkbox" name="{{q.id}}" value="{{q.text}}"  class="checkbox-question" onchange="pickInfoSystem(value)">
                                        {% if PageNumber == 0 %}
                                        <div class="checkbox-question-more" id="{{q.text}}_more" style=" flex-direction: column;">
                                            <img src="tempsnip.png">
                                        </div>
                                        {%endif%}
                                    </div>
                                </div>
                                {% endfor %}
                                <div>
                                </div>
                                <div class="d-flex">
                                    <a href="{{ url_for('quest', page = PageNumber-1) }}" id="next_page" class="btn btn-danger me-4"> Предыдущий вопрос</a>
                                     {% if PageNumber != Questionslength - 1%}
                                    <button id="show_resbutton" class="btn btn-danger">Следующий вопрос</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </form>
                    <form action="result">
                        {% if PageNumber == Questionslength - 1%}
                        <button id="result_button" onclick="makeRequest()" class="btn btn-danger mt-4">Показать результаты</button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </section>
    </main>
    
    <<script>
      var boxes = document.getElementsByClassName('box');


function createQuest(value,quests, options, numb)//создание дополнительных вопросов для выбора модели
{
    var boxes = document.getElementsByClassName('checkbox-question');
            if (boxes[numb].checked == true) {
                for (let i = 1; i <= Object.keys(quests).length; i++) {
                    const paragraphElementHead = document.createElement("p");
                    const head = document.createElement("h3");
                    paragraphElementHead.className = 'paragraph_label' + String(numb)
                    head.className = 'head_label_' + String(numb)
                    head.innerHTML = quests["quest_" + String(i)];
                    paragraphElementHead.appendChild(head);
                    document.getElementById(value+'_more').appendChild(paragraphElementHead)
                    for (let j = 1; j <= Object.keys(options).length; j++) {
                        if (options["quest_" + String(i) + "_" + String(j)] != undefined)
                        {
                            const paragraphElement = document.createElement("p");
                            const input = document.createElement("input");
                            const label = document.createElement("label");
                            input.type = 'checkbox';
                            input.id = String(numb);
                            input.className = 'checkbox-question';
                            input.value = options["quest_" + String(i) + '_' + String(j)];
                            input.setAttribute("onchange","pickInfoSystem(value)")
                            label.id = 'label_' + String(numb);
                            label.className = 'checkbox_label' + String(numb)
                            label.innerHTML = options["quest_" + String(i) + '_' + String(j)];
                            label.insertBefore(input, label.firstChild);
                            paragraphElement.appendChild(input);
                            paragraphElement.appendChild(label);
                            paragraphElementHead.appendChild(paragraphElement);
                        }
                    }

                    more_q = document.getElementById(value+'_more')
                    more_q.appendChild(paragraphElementHead)

                }

            }
            if (boxes[numb].checked == false) {
                const headsLabel = document.getElementsByClassName('paragraph_label' + String(numb));
                for (let i = headsLabel.length; i >= 0; i--) {
                    try {
                        headsLabel[i].remove();
                    } catch (e) {
                        console.log(e);
                    }
                }
            }
}

function pickInfoSystem(value)
{
    const gis_quests = {'quest_1': 'Выберите масштаб ИС', 'quest_2': 'Выберите уровень значимости информации'}
    const gis_options = {'quest_1_1': 'Федеральный', 'quest_1_2': 'Региональный', 'quest_1_3': 'Объектовый',
                            'quest_2_1': 'УЗ высокий', 'quest_2_2': 'УЗ средний', 'quest_2_3': 'УЗ низкий'}
    const ispdn_quests = {'quest_1': 'Выберите категорию ПД', 'quest_2': 'Выберите категорию субъектов',
                            'quest_3': 'Выберите количество субьектов ПД', 'quest_4': 'Выберите тип актуальных угроз'}

    const ispdn_options = {'quest_1_1': 'Специальные','quest_1_2': 'Биометрические','quest_1_3': 'Иные','quest_1_4': 'Общедоступные',
                            'quest_2_1': 'сотрудников оператора','quest_2_2': 'не сотрудников оператора',
                            'quest_3_1': 'более 100000','quest_3_2': 'менее 100000','quest_3_3': 'любое', 'quest_4_1': '1 тип','quest_4_2': '2 тип','quest_4_3': '3 тип'}
    const kii_quests = {'quest_1': 'Социальная значимость','quest_2': 'Политическая значимость',
                        'quest_3': 'Экономическая значимость','quest_4': 'Экологическая значимость' ,
                        'quest_5': 'Значимость для обеспечения обороны страны, безопасности государства и правопорядка'}
    const kii_options = {'quest_1_1': '1 категория','quest_1_2': '2 категория',
                        'quest_1_3': '3 категория','quest_2_1': '1 категория',
                        'quest_2_2': '2 категория','quest_2_3': '3 категория',
                        'quest_3_1': '1 категория', 'quest_3_2': '2 категория',
                        'quest_3_3': '3 категория','quest_4_1': '1 категория',
                        'quest_4_2': '2 категория','quest_4_3': '3 категория',
                        'quest_5_1': '1 категория',
                        'quest_5_2': '2 категория','quest_5_3': '3 категория',}

    const social_quests = {'quest_1': 'Социальная значимость'}

    const social_options = {'quest_1_1': '1 категория','quest_1_2': '2 категория','quest_1_3': '3 категория'}
    const political_quests =  {'quest_1': 'Политическая значимость'}
    const politcal_options = {'quest_1_1': 'Прекращение или нарушение\n' +
            'функционирования государственного\n' +
            'органа в части невыполнения\n' +
            'возложенной на него функции\n' +
            '(полномочия)\n', 'quest_1_2': 'Нарушение условий международного\n' +
            'договора РФ, срыв переговоров или\n' +
            'подписания планируемого к заключению\n' +
            'международного договора РФ,\n' +
            'оцениваемые по уровню международного\n' +
            'договора РФ\n'}


    const page = {{PageNumber}};
    const infoSystem = document.getElementsByClassName("box");
    if (page == 0)
    {
       switch (value){
           case 'ГИС':
               createQuest(value, gis_quests, gis_options, 0);
               break;
           case 'ИСПДн':
               createQuest(value, ispdn_quests, ispdn_options, 1);
               break;
           case 'КИИ':
               createQuest(value, kii_quests, kii_options, 2);
               break;
           case 'Социальная значимость':
               createQuest(value, social_quests, social_options, 3);
               break;
           case 'Политическая значимость':
               createQuest(value, political_quests, politcal_options, 4)
               break;

       }
    }

}
function save() {
    const page = {{PageNumber}};
    const boxes = document.getElementsByClassName('checkbox-question');
    if (page === 0){
        for (let i = 0; i <= boxes.length; i++) {
            try {
                localStorage.setItem(boxes[i].value, boxes[i].checked);

            } catch (e) {
                console.log(e)
            }
        }

    }
  }
window.addEventListener('change', save);

window.addEventListener("change", get_def_class_gis)

window.addEventListener("change", get_def_class_ispdn)

  function get_def_class_gis(){
      gis = [
  ["", "Федеральный", "Региональный", "Объектовый"],
              ["УЗ высокий", "К1", "К1", "К1"],
              ["УЗ средний", "К1", "К2", "К2"],
              ["УЗ низкий", "К2", "К3", "К3"]
];
     uzIndex = 0;
      for (let i = 1; i < gis.length; i++) {
    if (localStorage.getItem(gis[i][0]) === 'true') {
      uzIndex = i;
      break;
    }
  }
   levelIndex = 0;
  for (let i = 1; i <= gis[0].length; i++) {
    if (localStorage.getItem(gis[0][i]) === 'true') {
      levelIndex = i;
      break;
    }
  }
    //console.log(uzIndex)
      //console.log(levelIndex)
    localStorage.setItem('ГИС_знач', gis[uzIndex][levelIndex])

  }
  function get_def_class_ispdn(){

     data = [
         ["Специальные", "не сотрудников оператора", "более 100000", "УЗ1", "УЗ1", "УЗ2"],
         ["Специальные","не сотрудников оператора", "менее 100000", "УЗ1", "УЗ2", "УЗ3"],
         ["Специальные", "сотрудников оператора", "любое", "УЗ1", "УЗ2", "УЗ3"],
         ["Биометрические", "не сотрудников оператора", "более 100000", "УЗ1", "УЗ2", "УЗ3"],
         ["Биометрические","не сотрудников оператора", "менее 100000", "УЗ1", "УЗ2", "УЗ3"],
         ["Биометрические", "сотрудников оператора", "любое", "УЗ1", "УЗ2", "УЗ3"],
         ["Иные", "не сотрудников оператора", "более 100000", "УЗ1", "УЗ2", "УЗ3"],
         ["Иные","не сотрудников оператора", "менее 100000", "УЗ1", "УЗ3", "УЗ4"],
         ["Иные","сотрудников оператора","любое","УЗ1","УЗ3","УЗ4"],
         ["Общедоступные","не сотрудников оператора","более 100000","УЗ2","УЗ2","УЗ4"],
         ["Общедоступные","не сотрудников оператора","менее 100000","УЗ2","УЗ3","УЗ4"],
         ["Общедоступные","сотрудников оператора","любое","УЗ2","УЗ3","УЗ4"] ];

     data_uz = [
  [ '1 тип', '2 тип', '3 тип' ],
  [ 'УЗ1', 'УЗ1', 'УЗ2' ],
  [ 'УЗ1', 'УЗ2', 'УЗ3' ],
  [ 'УЗ1', 'УЗ2', 'УЗ3' ],
  [ 'УЗ1', 'УЗ2', 'УЗ3' ],
  [ 'УЗ1', 'УЗ2', 'УЗ3' ],
  [ 'УЗ1', 'УЗ2', 'УЗ3' ],
  [ 'УЗ1', 'УЗ2', 'УЗ3' ],
  [ 'УЗ1', 'УЗ3', 'УЗ4' ],
  [ 'УЗ1', 'УЗ3', 'УЗ4' ],
  [ 'УЗ2', 'УЗ2', 'УЗ4' ],
  [ 'УЗ2', 'УЗ3', 'УЗ4' ],
  [ 'УЗ2', 'УЗ3', 'УЗ4' ]
]

     category = "";
      for (let i = 0; i <= data.length; i++) {
    if (localStorage.getItem(data[i][0]) === 'true') {
      category = data[i][0];
      break;
    }
  }
   employs = "";
      for (let i = 0; i <= data.length; i++) {
    if (localStorage.getItem(data[i][1]) === 'true') {
      employs = data[i][1];
      break;
    }
  }
       number = "";
      for (let i = 0; i <= data.length; i++) {
    if (localStorage.getItem(data[i][2]) === 'true') {
      number = data[i][2];
      break;
    }
  }
      type = ""
      for (let i = 0; i <= data_uz[0].length; i++) {
    if (localStorage.getItem(data_uz[0][i]) === 'true') {
      type = data_uz[0][i];
      console.log(type)
      break;
    }
  }

let user_input = [category,employs,number];
filtered_data = data.filter(function(item) {
    return item[0] === user_input[0] && item[1] === user_input[1] && item[2] === user_input[2];
});
elements = ''
if (type === '1 тип'){
    elements = filtered_data[0][3]
}
if (type === '2 тип'){
    elements = filtered_data[0][4]
}
if (type === '3 тип'){
    elements = filtered_data[0][5]
}
localStorage.setItem('ispdn', elements)
//console.log(elements.slice(-3))

//const filteredArr = data_uz.filter((el) => elements.every((element) => el.includes(element)));
//const result = filteredArr.map((el) => el[data_uz[0].indexOf(type)]);
console.log(filtered_data);
console.log(elements);

//console.log(result)


//console.log(filtered_data);

  }
  function makeRequest() {
      const httpRequest = new XMLHttpRequest();

      if (!httpRequest) {
      alert('Giving up :( Cannot create an XMLHTTP instance');
      return false;
    }
    httpRequest.open('POST', 'result');
    const data = JSON.stringify(localStorage);
    httpRequest.send(data);
    window.location.replace('/quest/show_result/result_id');
  }
  </script>
</body>

</html>