<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style.css">
    <title>Опрос</title>
        {% extends "base.html" %}
    {% block content %}
</head>
<body>
    <main>
        <section class="quiz">
            <div class="container">
                <div class="quiz__inner">
                    <h2>{{QuestionForm[PageNumber].text}} Вопрос номер: {{PageNumber}}</h2>
                    <form action="{{PageNumber + 1}}" method="post">
                         {% for q in options_conf_text%}
                        <span value="{{q.text}}">{{q}}</span>
                        <div class="selected-options" value="{{q}}" id="{{q}}"></div>
                        <div class="d-flex justify-content-between">
                            <select name="{{q.text}}" id="" class="form-select"  style="width: 45%;">
                                 {% for j in option_confs %}
                                {% if j.option_conf_1 != None%}
                                <option value="{{j.option_conf_1}}">{{j.option_conf_1}}</option>
                                 {%endif%}
                                {% endfor %}
                            </select>
                            {% if PageNumber != 8 %}
                            {% if PageNumber != 2 %}
                            <select name="{{q.text}}_уровень'"  class="form-select" style="width: 45%;">
                                < {% for i in option_confs %}
                                {% if i.option_conf_2 != None%}
                                <option value="{{i.option_conf_2}}">{{i.option_conf_2}}</option>
                                 {%endif%}
                                {% endfor %}
                            </select>
                            {%endif%}
                            {%endif%}
                        </div>
                         {% endfor %}
                        {% if PageNumber == 2 %}
                        <h3>Данный вопрос в разработке(на данном этапе выбираются все компоненты объектов воздействия)</h3>
                        {% endif %}
                        <div class="btn-group mt-4">
                            <a href="{{ url_for('quest', page = PageNumber-1) }}" class="btn btn-danger">Предыдущий вопрос</a>
                            {% if PageNumber != Questionslength - 1%}
                                    <button id="show_resbutton" class="btn btn-danger" onclick="save()">Следующий вопрос</button>
                                    {% endif %}
                        </div>
                    </form>
                           <form action="result">
                         {% if PageNumber == Questionslength - 1%}
                        <button id="result_button" onclick="makeRequest()" class="btn btn-danger mt-4">Показать результаты</button>
                         {% endif %}
                    </form>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="footer__inner">
                <img src="../static/logo.png" alt="" class="footer__img">
                <a class="footer__link" href="tel:+79538717747">+7 953 871 77 47</a>
            </div>
        </div>
    </footer>
    <script>

        var options = document.querySelectorAll('.form-select');
  var selectedOptions = document.querySelectorAll('.selected-options');
    page = {{PageNumber}}
        if (page !== 3 && page !== 4) {
            options.forEach(function (select, index) {
                select.addEventListener('change', function () {
                    var selectedOption = select.options[select.selectedIndex];
                    var selectedOptionText = selectedOption.text;

                    if (selectedOption.value !== '') {
                        var selectedOptionElement = document.createElement('div');
                        selectedOptionElement.classList.add('selected-option');
                        selectedOptionElement.innerHTML = '<span>' + selectedOptionText + '</span><button onclick="removeSelectedOption(this, ' + index + ')">x</button>';
                        selectedOptions[index].appendChild(selectedOptionElement);
                    }
                });
            });
        }

    function removeSelectedOption(button, index) {
    button.parentElement.remove();
  options[index].options[options[index].selectedIndex].selected = false;
}

window.addEventListener('change', save)
    function save(){

        picked = document.getElementsByClassName('selected-options')
        var data = new Map()
        for (let i =0; i < picked.length; i++){
             picked_to_save = [];
            for(let j =0; j < picked[i].childElementCount; j++){
                picked_to_save.push(picked[i].children.item(j).innerText)
            }
            data.set(picked[i].id, picked_to_save)
        }
        const myObj = Object.fromEntries(data);
        localStorage.setItem(page, JSON.stringify(myObj))
    }
      function makeRequest() {
        save()
      fetch('/quest/result', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/json'
  },
  body: JSON.stringify({
    data: localStorage
  })
})
.then(response => response.json())
.then(data => console.log(data));
  }
    </script>
</body>
{% endblock %}

</html>