<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <style>
        .register {
            position: absolute;
        }
    </style>
</head>
<body>
<div class="register">
<h1>Регистрация</h1>
    <form action="/register" method="post" validate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>

        <p>
            {{form.password_repeat.label}}<br>
            {{form.password_repeat(size=32)}}
        </p>
        <p>{{form.submit_reg}}</p>
    </form>
    <p><a href = "/login">Уже есть аккаунт? Войти</a></p>
</div>
</body>
</html>